In [15]:
# Adriana Jimenez Python Modulo 1
# types, expressions, variables and strings
print("Hello\nWorld!")

Hello
World!

In [16]:
#integers, float, boolean
print (type (11))

#numbers slice
Numbers = "0123456"
Numbers[::2]

<class 'int'>

'0246'

In [17]:
"0123456".find('1')

1

In [18]:
float(2) #converts int into float

2.0

In [19]:
int(1.1) #converts float into int, loose information

1

In [20]:
bool(1) #boolean True or False, where True =1 and False =0

True

In [24]:
x=160 #setting up variables
y=x/60
print (y)

2.6666666666666665

In [23]:
A= ' A wonderful place in the world' #methods to use for replacing words
B= A.replace ('world','galaxy')
print (B)

 A wonderful place in the galaxy

In [25]:
#list and tuples
# Create a list

L = ["GEHC", 2014, 2022]
L

['GEHC', 2014, 2022]

In [27]:
print (L[1]) #print individual element

2014

In [29]:
print (L[0])
print (L[1])
print (L[2])

GEHC
2014
2022

In [30]:
L.append(['other business', 3]) #use append
print (L)

['GEHC', 2014, 2022, ['other business', 3]]

In [31]:
# Use extend to add elements to list

L.extend(['Wisconsin', 4])
print (L)

['GEHC', 2014, 2022, ['other business', 3], 'Wisconsin', 4]

In [33]:
#creating tuple
tuple1 = ('Places where I have lived', 'WI', 'MD', 'MX', 2014, 2022)
tuple1

('Places where I have lived', 'WI', 'MD', 'MX', 2014, 2022)

In [34]:
print(tuple1[0]) #print variable on each index
print(tuple1[1])
print(tuple1[2])
print(tuple1[3])
print(tuple1[4])

Places where I have lived
WI
MD
MX
2014

In [38]:
tuple2 = (3, 4, 89, 1) #tuple 2 to sort
S_list = sorted(tuple2)

In [46]:
#sets type of collection. Sets only have unique elements.This means there is only one of a particular element in a set.
set1= {'Maryland', 'Wisconsin', 'Monterrey', 'Guadalajara'}
print (set1)

{'Guadalajara', 'Maryland', 'Wisconsin', 'Monterrey'}

In [57]:
A= set1
A.add( 'Mexico') #add into a set
print (A)

{'Mexico', 'Maryland', 'Wisconsin', 'Monterrey', 'Guadalajara'}

In [58]:
set2= {'Europe', 'Italy', 'France', 'Switzerland'} #create set 2
print (set2)
B= set2
B.remove ('Europe') #remove from set
B

{'Italy', 'Switzerland', 'France', 'Europe'}

{'France', 'Italy', 'Switzerland'}

In [59]:
A,B #print both sets

({'Guadalajara', 'Maryland', 'Mexico', 'Monterrey', 'Wisconsin'},
 {'France', 'Italy', 'Switzerland'})